<div class="container-fluid">
    <div class="jumbotron">
        <h2><strong>News</strong></h2>
        <p>Administration Section for News Page that provides ability to Add, Edit or Delete news item(s) in the site.</p>
        <p>
            <a class="btn btn-primary btn-sm" role="button" (click)="insertNews()">Insert</a>
            <a class="btn btn-primary btn-sm" role="button">Update</a>
            <a class="btn btn-danger btn-sm" role="button">Delete</a>
        </p>
    </div>
    <div class="jumbotron">
        <h2><strong>Documentary</strong></h2>
        <p>Administration Section for Documentary Page that provides ability to Add, Edit or Delete documentaries in the site.</p>
        <p>
            <a class="btn btn-primary btn-sm" href="#" role="button">Insert</a>
            <a class="btn btn-primary btn-sm" href="#" role="button">Update</a>
            <a class="btn btn-danger btn-sm" href="#" role="button">Delete</a>
        </p>
    </div>
</div>