.maincontent {
    display:block;
    margin:0 auto;
    width: 1200px;
}

.mainbgcolor {
    /**background-color: #222; DARK**/
    background-color: #003D7A; 
}

.subbgcolor {
    background-color: white;
}

/* PANEL */
.panel-dark > .panel-heading {
    color: ghostwhite;
    background: #222;
    border-color: #ddd;
 }

/* MODAL */
.movie-modal .modal-dialog {
  width:1200px;
}

/* COLORS */
.red {
    color: red;
}

.black {
    color: black;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.blue {
    color: blue;
}

.orange {
    color: orange
}


