<header>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top maincontent" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- Banner -->
<div class="mainbgcolor maincontent">
    <img src="/Images/banner_alpha.png" class="maincontent" />
</div>
<div class="maincontent">
    <div class="container-fluid">
        <div class="row subbgcolor">
            <br />
            <div class="li col-xs-2">
                <div class="list-group">
                    <a class="list-group-item list-group-item-default" (click)="menuSelect('News')" role="button">
                        <i class="fa fa-rss" aria-hidden="true"></i>&nbsp;&nbsp;News
                    </a>
                    <a class="list-group-item list-group-item-default" (click)="menuSelect('Series')" role="button">
                        <i class="fa fa-television" aria-hidden="true"></i>&nbsp;&nbsp;Series
                    </a>
                    <a class="list-group-item list-group-item-default" (click)="menuSelect('Movies')" role="button">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;&nbsp;Movies
                    </a>
                    <a class="list-group-item list-group-item-default">
                        <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;Manga
                    </a>
                    <a class="list-group-item list-group-item-default">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp;&nbsp;Games
                    </a>
                    <a class="list-group-item list-group-item-default">
                        <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;&nbsp;Toys
                    </a>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selected}}</h3>
                    </div>
                    <div class="panel-body">
                        <as-news *ngIf='selected === "News"'></as-news>
                        <as-movies *ngIf='selected === "Movies"'></as-movies>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<template ngbModalContainer></template> 