<div class="row" *ngIf="newsList">
    <div ng-cloak *ngFor="let news of newsList | groupBy:['NewsDate']">
        <div class="col-lg-12">
            <div><b>{{news.key | date : "EEEE,  MMMM dd"}}</b></div>
            <br />
            <div *ngFor="let item of news.value" class="col-md-4" >
                <div class="thumbnail" (click)="openNews(item)">
                    <img role="button"
                         [src]='item.ImageFileName'
                         [title]='item.Headline'
                         [style.width.px]='300'
                         [style.height.px]='170'
                         [style.marign.px]='300'>
                    <div class="caption">
                        <p class="news-link">
                            <b><a role="button">{{item.Headline}}</a></b><br />
                            <span *ngFor="let tag of item.Tags">
                                <button  type="button" class="btn btn-xs btn-success">
                                    {{tag.TagName}}
                                    <span class="badge"></span>
                                </button>
                            </span>
                            <br />
                            <span class="news-muted">{{item.NewsDate | date : "MMM d, h:mm a"}}</span>
                            <!--<br />{{item?.Content | limitTo: 50}}-->
                        </p> 
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <br />
    <!--<div class="text-center"><button class="btn btn btn-primary" type="button" (click)="newsLoadMore()"><i class="fa fa-download" aria-hidden="true"></i> Load More News</button></div>-->
    <div class="text-center"><i class="fa fa-angle-down fa-5x" aria-hidden="true" type="button" (click)="newsLoadMore()"></i> </div>
</div>
