<div class="modal-header">
    <p class="pull-left movie-modal-headline">
        <b>{{movie.Title}}</b><br />
    </p>
    <button type="button" class="close" (click)="activeModal.close('close')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div>
        <div class="text-center">
            <iframe width="940" height="520" [src]="movieLink.LinkUrl | safeUrl" frameborder="0" allowfullscreen></iframe>
        </div>  
        <div class="text-center">
            <div class="container-fluid">
                <p><small>Video not working? Try the following alternative links: </small><a *ngFor="let link of altLinks" style="text-decoration:none !important;" role="button" (click)="getAltVideo(link)">{{link.LinkType}}&nbsp;</a></p>
            </div>
        </div>
        <div>
            <div class="col-lg-offset-1">
                <!--<div class="pull-left">
                    <img role="button"
                         [src]='movie.ImageFileName'
                         [title]='movie.Title'
                         [style.width.px]='150'
                         [style.height.px]='200'
                         [style.padding-right.px]='10'>
                </div>-->
                <div class="row">
                    <div class="col-md-11">
                        <div>
                            <p class="synopsis">
                                <b>Synopsis</b><br /><br />
                                <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                                {{movie.Synopsis}}
                                <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                            </p>  
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="pull-right btn btn-primary" (click)="activeModal.close('close')">Close</button>
</div>
