/*.modal-dialog {
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}*/

.synopsis {
    font-size: small
}

.movie-modal-headline {
    color: #325ab7;
    font-size: 22px;
    line-height: 1;
}

