<div class="row" *ngIf="moviesList">
    <div ng-cloak *ngFor="let movies of moviesList | groupBy:['ReleaseDate']">
        <div class="container-fluid">
            <br />
            <div><b>{{movies.key | date : "y"}}</b></div>
            <br />
            <div *ngFor="let item of movies.value" class="row">
                <div class="col-md-6" (click)="openMovie(item)">
                    <div class="pull-left">
                        <img role="button"
                             [src]='item.ImageFileName'
                             [title]='item.Title'
                             [style.width.px]='150'
                             [style.height.px]='200'
                             [style.padding-right.px]='10'>
                    </div>
                    <div>
                        <p role="button">
                            <b><a>{{item.Title}}</a></b><br /><br />
                            <span>Release Date: {{item.ReleaseDate | date : "MMM d, yyyy"}}</span><br />
                            <span>Duration: {{item.Length}}</span><br />
                            <span>Producer: {{item.Producer}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="text-center"><button class="btn btn btn-primary" type="button" (click)="moviesLoadMore()"><i class="fa fa-download" aria-hidden="true"></i> Load More Movies</button></div>
</div>
